.hero-unit {
    padding: 0;
    background: #222 url(imeges/hero-unit.jpg) no-repeat 50% top;
}

.navbar-inner {
    background: transparent;
    border: none;
    box-shadow: none;
}

.navbar {
    margin-top: 30px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.navbar .brand {
    text-indent: -9999px;
    height: 57px;
    width: 127px;
    background: url(imeges/brand.png) no-repeat;
    margin: 0;
}

.navbar .nav {
    padding: 0;
    margin: 0;
}

.navbar .nav>li>a {
    font-weight: bold;
    font-size: 14px;
    text-shadow: none;
    color: #fff;
    padding: 3px 20px;
}
.navbar .nav>li>a:focus,
.navbar .nav>li>a:hover {
    color: rgba(255, 255, 255, 0.7);
}

.navbar .nav>.active>a, .navbar .nav>.active>a:hover, .navbar .nav>.active>a:focus {
    box-shadow: none;
    background: rgba(0, 0, 0, 0.7);
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}